#wrapper {
				width: 960px;
				/*height: 350px;
				margin-top:30px;*/
				/*position:absolute;*/
				overflow: hidden;
margin-left:20px;
			}
			#carousel > div {
				width: 170px;
				padding: 0 20px 0 0;
				/*height: 145px;*/
				float: left;
				
				
			}
			#blue{overflow:hidden}
			#carousel img {
				border: none;
				display: block;
				margin: 0 25px 30px 0;
				/*float: left;*/
			}
			#carousel h4 {
				font-size: 15px;
				line-height: 20px;
				margin: 10px 0 10px 0;
			}

			#carousel #blue img {
				margin-top: 5px;

			}