/* 
	Resets defualt browser settings
	reset.css
*/
 body{
 
/*background:url(../../img/bck2.png);*/
 
 
 /*
margin:0;
background:url(../../img/bodybg.jpg) no-repeat;
background-position:center top;
background-attachment:fixed;
width:100%;*/

}
div#content{background:rgba(255,255,255,0.75);padding:5px 0 10px 0}
div#content p,h1,h2{padding-left:10px; padding-right:10px}

:focus { outline:0; }
a:active { outline:none; }



blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page style
*/

#container {
	width:580px;
	
	margin:10px;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:270px;
	position:relative;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	
	left:10px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:570px;
	height:270px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	index content
*/
.index_tab{text-align:center;margin-top:20px}
.index_tab td{
border-radius:1em;
 border:0px solid;
 overflow:hidden;
 height: 300px;
 
 }

.shadow{

 	-moz-box-shadow: 0px 2px 20px black;
	-webkit-box-shadow: 0px 2px 20px black;
	box-shadow: 0px 2px 20px black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black');
 background: rgba(255,255,255,0.75);
 }
 
 
 div.pray{
 width:150px;
 text-align:center;
 border-radius:5px;
 height:27px;
 background:url(../../img/menu.png) repeat-x;
 margin:auto;
 
 -moz-box-shadow: 0px 2px 20px black;
	-webkit-box-shadow: 0px 2px 20px black;
	box-shadow: 0px 2px 20px black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black');
 }
div.pray:hover{
 -moz-box-shadow: 0px 4px 10px black;
	-webkit-box-shadow: 0px 4px 10px black;
	box-shadow: 0px 4px 10px black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black');


}
div.pray a{
  color:white;}
 
.pagination {
	margin:auto;
	width:100%;
	text-align:center;
}


a:visited{color:black; text-decoration:none}
a:link{color:black; text-decoration:none}

a.page{color:silver;background:url(../../img/menu.png) repeat-x;margin:3px; padding:2px;}
span.current{color:black;background:url(../../img/menu1.png) repeat-x;margin:3px;padding:2px}

a.next{background:url(../../img/menu.png) repeat-x; color:silver; padding:2px; margin:4px;font-weight:normal;}
a.next:hover{color:black;font-weight:normal;}
span.disabled{border:1px solid silver; color:silver; padding:2px; margin:4px}


.pas{margin-top:-1px;}
div.chmap{
background-color: #edeff4;
padding:5px;
margin-top:-49px;
font-weight: bold;
font-size: 13px;
}

#bg2{
	-moz-box-shadow: 2px 3px 10px #000;
	-webkit-box-shadow: 2px 3px 10px #000;
	box-shadow: 2px 3px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black');
}

.block{
	width:240px; 
	height: 282px;
	background: #fff;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	-moz-box-shadow: 0px 3px 10px #000;
	-webkit-box-shadow: 0px 3px 10px #000;
	box-shadow: 0px 3px 10px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='black');
}

.block_title{
	text-align: justify;
	padding: 10px;
	color: #c5a474;
}
.block_content{
	height: 220px;
	overflow: hidden;
	padding: 0 10px;
	text-align: justify;
	margin-top: -15px;
}
.block_more{
	text-align: right;
	margin: 5px 15px 0 0;
}
.block_more a{
	color: #c5a474;
}
.block_more a:hover{
	text-decoration: underline;
}
.fb_iframe_widget apan iframe{
	position: relative !important;
}
.fb-like-box{
	margin-left: 0;
	
}